<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Desktops and Tablets</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <link rel="stylesheet" media="screen"
          href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.9.0"> </script>
    <script src="https://cdnjs.loli.net/ajax/libs/numjs/0.11.3/numjs.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../bootstrap/css/main.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="../bootstrap/css/prettyPhoto.css" rel="stylesheet">
    <link href="../bootstrap/css/price-range.css" rel="stylesheet">
    <link href="../bootstrap/css/animate.css" rel="stylesheet">

    <link href="../bootstrap/css/responsive.css" rel="stylesheet">
    <link href="../bootstrap/css/pagination.css" rel="stylesheet">


</head>

<body>
    <canvas id="canvas1" style="border: #0f0f0f solid"></canvas>
<div>
    <button class="btn btn-success"><a href="index.html" style="color: white;">Vẽ Lại</a></button>
</div>
    <!--<a id="a1"><button id="btn1">Kiem tra</button></a>-->
    <script src="../controllers/create_image.js"></script>
    <script src="../controllers/predict.js"></script>
</body>
</html>